https://github.com/Mahesh0253/pyrogram/archive/inline.zip
tgcrypto==1.2.2
pymongo[srv]==3.11.4
motor==2.4.0
marshmallow==3.12.2
umongo==3.0.0
requests
imdbpy
youtube-dl
youtube_search
requests
aiohttp
aiofiles
asyncio
wget
python-arq
youtube-search-python==1.4.6
youtube-search-python
yt-dlp
python-dotenv
gTTS
googletrans==4.0.0rc1
